@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components/ui/card;

/* index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  transition: background-color 0.3s, color 0.3s;
}

